<div class="container">
  <div class="text-center py-2">
    <img src="images/saman-logo.png" alt="Logo :)" class="homepage-logo">
  </div>
  <div class="text-center mb-4 py-4 bottom_line">
    <a href="/menuss" class="btn btn-lg btn-outline-warning">Becados</a>
  </div>
  <div class="d-flex justify-content-center">
    <a href="/showPersona" class="btn btn-lg btn-outline-light mx-4">Persona</a>
    <a href="/showEstudiante" class="btn btn-lg btn-outline-light mx-4">Estudiante</a>
    <a href="/menuss" class="btn btn-lg btn-outline-light mx-4">Becados</a>
    <a href="/estudiantehorario" class="btn btn-lg btn-outline-light mx-4">Materias con Estudiantes</a>
    <a href="/showProfesor" class="btn btn-lg btn-outline-secondary mx-4">Profesor</a>
    <a href="/showMaterias" class="btn btn-lg btn-outline-success mx-4">Materias</a>
    <a href="/showDepartamento" class="btn btn-lg btn-outline-info mx-4">Departamento</a>
  </div>
</div>
