<div class="d-flex align-items-center justify-content-center w-100 h-100">
    <div class="container text-center white-text my-auto align-middle">
        <h3 class="p-3 mb-2"> <%= departamento.nombre %> :</h3>

        <div class="row">
          <div class="col-6">
            <a class="btn btn-outline-success w-100" href="/showProfesor_Materia/?id=<%=departamento.idEstructura%>"> Ver Profesores y Materias </a>
          </div>
          <div class="col-6">
              <a class="btn btn-outline-success w-100" href="#"> Ver Secciones</a>
          </div>
        </div>
      </div>
  </div>
